/*--------------------------------


Current Theme Color:;

---------------------------------- */

:root {
  --theme-color: #000;
  --theme-text: #fff;
  --text-color: #000;
  --hover-color: #7d0000;
}

a{
  color:var(--theme-color);
}
  
a:hover{
  color:var(--hover-color);
}

.widget-container .widget-content {
    overflow: auto;
}

.form-control{
  border-radius:0px;
}

.btn{
  border-radius:0px;
}

.btn{
  font-size: 15px;
}


#coverimg{
  min-height: 150px;
}

table{
  width: 100%;
}


.cke_contents {

    min-height: 500px;
}


.space{
  height: 400px;
}

.htitle{
  position: absolute;
    z-index: 9999;
    top: 12px;
    font-size: 18px;
    left: 16px;
}

input[type="radio"], input[type="checkbox"] {
    min-width: 15px;
    min-height: 15px;
}


.uprleft{
  position: fixed;left: 30px;top: 20px;
}
  .upr{
  position: fixed;right: 30px;top: 20px;
}



/*    -------------------Mob Styles----------------------- */

@media (max-width: 767px){

.mobheader {
    display: block;
    padding: 12px 15px;
    background: #efefef;
    position: absolute;
    z-index: 9999999999999;
    right: 5px;
    top: -7px;
}

.uprleft{
position: absolute;
    top:350px;
}


.upr{
  position: absolute;
    top: 400px;
    left: 30px;
}


}


/*    ------------------------------------------ */

.nava{
  color:var(--theme-text);
}
  
.ordernav{
  background: #fff;
  padding:10px;
}
.orderul{
  display: contents;
}
.orderli {
    display: block;
    width: 100%;
    background: var(--theme-color);
    padding: 10px;
    margin-top: 15px;
}
.ordera{
  color: var(--theme-text);
  text-decoration:;

}
.ordera:hover{
  color: var(--theme-text);
  text-decoration:;

}
.or{
  float: right;
}


.minicartimg{
  width: 50px;
}

.dataTables_wrapper .dataTables_filter input {
    width: 400px !important;
}

.overflow{
  overflow: auto !important;
}
.orow{
  cursor: pointer;
  transition: linear 0.2s;
}
.orow:hover{
  cursor: pointer;
  background: black;
    color: white;
}

#minwidth{
  width: 100px !important;
  max-width: 100px !important;
  overflow: auto !important;
}



.card{
 background: var(--theme-color);
    padding: 10px;
    /* border: 1px solid; */
    box-shadow: 2px 2px 5px;
    border-radius: 1px;
    transition: linear 0.1s;
}
.card:hover{
 background: var(--hover-color);
    padding: 10px;
    /* border: 1px solid; */
    box-shadow: 1px 1px 2px;
    border-radius: 0px;
}






















/* ----------------------- SCroll Bar ---------------*/



/* width */
::-webkit-scrollbar {
  height: 1px;              /* height of horizontal scrollbar ← You're missing this */
  width: 8px;               /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


